@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>
<p>@ViewData["Message"]</p>

<p><strong>Aluno: </strong> @ViewData["Aluno"]</p>

<address>
    <strong>More information: </strong> <a href="https://www.linkedin.com/in/denilson-rosestolato-806a97236/">LinkedIn</a>
</address>

